    <style>
        .landing {
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
        }

        .landing-mob {
            display: none;
        }

        #scroll {
            float: left;
            width: 100%;
            max-width: 1100px;
        }

        @media screen and (max-width: 727px) {

            .landing,
            .image-map {
                display: none;
            }

            .landing-mob,
            .image-map2 {
                display: block;
            }
        }
    </style>

    <div class="landing">
        <img class="img-responsivo"
            data-path="https://static1.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-15/landing/"
            data-name="cp15-resumo-de-incentivos.jpg" style="float: left; margin-top:-7px; width: 100%;"
            usemap="#image-map" />

        <map name="image-map">
            <area target="_blank" alt="" title="" href="javascript:getURLSEOStoreToken('landing-programa-indicacao');"
                coords="791,589,966,633" shape="rect" data-analytics-on=""
                data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
                data-analytics-label="botao:indicacao:saiba-mais-1">

                <area target="_blank" alt="" title="" href="javascript:getURLSEOStoreToken('landing-turbo');"
                coords="792,996,969,1039" shape="rect" data-analytics-on=""
                data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
                data-analytics-label="botao:turbo:saiba-mais">

                <area target="_blank" alt="" title="" href="#"
                coords="789,1376,967,1417" shape="rect" data-analytics-on=""
                data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
                data-analytics-label="botao:mythology:saiba-mais">

                <area target="_blank" alt="" title="" href="/vendor/vendor-link-redirect.html?vendorId=1"
                coords="20,2075,365,2117" shape="rect" data-analytics-on=""
                data-analytics-category="landing-page:meus-pontos" data-analytics-action="clique"
                data-analytics-label="botao:pontos:saiba-mais">

                <area target="_blank" alt="" title="" href="/vendor/vendor-link-redirect.html?vendorId=18"
                coords="379,2073,727,2116" shape="rect" data-analytics-on=""
                data-analytics-category="landing-page:premios" data-analytics-action="clique"
                data-analytics-label="botao:saiba-mais">
                
            <area target="_blank" alt="" title="" coords="415,3292,685,3337" shape="rect" data-analytics-on=""
                data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
                data-analytics-label="botao:indicacao:consultar-regulamento"
                href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-catalogo-mma-2018.pdf">

        </map>
    </div>

    <div id="scroll"></div>


    <div class="landing-mob">
        <img class="img-responsivo"
            data-path="https://static1.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-15/landing/"
            data-name="cp15-resumo-de-incentivos.jpg" style="float: left; margin-top:-7px; width: 100%;"
            usemap="#image-map2" />
        <map name="image-map2">
            <area target="_blank" alt="" title="" href="javascript:getURLSEOStoreToken('landing-programa-indicacao');"
            coords="244,921,471,980" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
            data-analytics-label="botao:indicacao:saiba-mais-1">

            <area target="_blank" alt="" title="" href="javascript:getURLSEOStoreToken('landing-turbo');"
            coords="547,1271,677,1319" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
            data-analytics-label="botao:turbo:saiba-mais">

            <area target="_blank" alt="" title="" href="#"
            coords="541,1766,683,1816" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
            data-analytics-label="botao:mythology:saiba-mais">

            <area target="_blank" alt="" title="" href="/vendor/vendor-link-redirect.html?vendorId=1"
            coords="177,3457,543,3517" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:meus-pontos" data-analytics-action="clique"
            data-analytics-label="botao:pontos:saiba-mais">

            <area target="_blank" alt="" title="" href="/vendor/vendor-link-redirect.html?vendorId=18"
            coords="179,3521,548,3580" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:premios" data-analytics-action="clique"
            data-analytics-label="botao:saiba-mais">
            
        <area target="_blank" alt="" title="" coords="179,3589,551,3651" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
            data-analytics-label="botao:indicacao:consultar-regulamento"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-catalogo-mma-2018.pdf">
        </map>
    </div>