<style>
    .mmaTurboBannerMeta {
        font-family: 'roboto';
        color: #546264;
        display: none;
        float: right;
        width: 50%;
        text-align: center;
        margin-top: -200px;
        padding: 15px 3.9%;
        font-size: 20px;
        font-weight: 300;
    }      

    @media screen and (max-width: 727px) {
        .mmaTurboBannerMeta {
            padding: 0 5px;
            margin: -90px 0 0 0;
            font-size: 15px;
            line-height: 15px;
        }
    }        
</style>

<script>
     $(document).ready(function(){
        //Texto Responsivo
        if($(window).width() <= 728) {
            $(".mmaTurboBannerMeta").html('Atinja seu Objetivo de Vendas de <span class="salesGoalAmount"></span>');
        }   
        setTimeout(function() { 
            $(".mmaTurboBannerMeta").show();                                        
        }, 2000);        
    });
</script>      

<div class="incentivosContent">
    
    <!--Título-->
    <h3><img style="width:100%;max-width:1100px;display:block" class="img-responsivo" data-path="https://static3.br.avon.com/img-banner/fixo/main/img/" data-name="incentivos-header.jpg" /></h3>

    <!--GANHE MAIS-->
    <div class="incentivosItem" id="contentSaibaMais">        
        <!--Banners-->
        
        <!--Programa de Indicação-->
        <!-- <a href="javascript:getURLSEOStoreToken('landing-programa-indicacao');" data-analytics-on data-analytics-category="incentivos:saiba-mais" data-analytics-action="clique" data-analytics-label="banner:programa-de-indicacao">
            <img style="width:100%;max-width:1100px;display:block;" class="img-responsivo" data-path="https://static1.br.avon.com/img-banner/campanhas/2019/cp-07/incentivos/" data-name="c07-incentivos-alianca-avon-madrinha.jpg?date=17042019" />            
        </a>
                      -->

        <!--Turbo-->
        <a href="javascript:getURLSEOStoreToken('landing-turbo');" data-analytics-on data-analytics-category="incentivos:saiba-mais" data-analytics-action="clique" data-analytics-label="banner:turbo">
            <img style="width:100%;max-width:1100px;display:block; margin: 20px 0;" class="img-responsivo" data-path="https://static1.br.avon.com/img-banner/campanhas/2019/cp-15/landing/" data-name="cp-15-banner-programa-turbo.jpg" />
            <div class="mmaTurboBannerMeta">Atinja seu Objetivo de Vendas no valor de <span class="salesGoalAmount"></span> (valor revendedora) e acumule pontos ilimitados!</div>
        </a>

        
        <!--Resumo Incentivos da Campanha-->
        <a href="javascript:getURLSEOStoreToken('landing-incentivos-resumo');" data-analytics-on data-analytics-category="incentivos:saiba-mais" data-analytics-action="clique" data-analytics-label="banner:incentivos-resumo">
            <img style="width:100%;max-width:1100px;display:block;" class="img-responsivo" data-path="https://static1.br.avon.com/img-banner/campanhas/2019/cp-15/landing/" data-name="cp15-incentivos-resumo.jpg" />
        </a>      
    </div>

</div>    

<link rel="stylesheet" href="https://www.avoncomigo.avon.com.br/wcsstore/img-banner/fixo/main/mma-turbo-component/mma-turbo.css" type="text/css">
<script src="https://www.avoncomigo.avon.com.br/wcsstore/img-banner/fixo/main/mma-turbo-component/mma-turbo.js"></script>
<script type="text/javascript" src="https://static4.br.avon.com/wcsstore/img-banner/fixo/main/js/jquery.fittext.js"></script>