<div id="segmentacao-estrela" class="segmentacao-estrela originalpopup" style="display: none; position: relative;">
    <a target="_blank" data-analytics-on="" data-analytics-category="popup-home:segmentacao-estrela" data-analytics-action="clique" data-analytics-label="link:popup_segmentacao-estrela" href="https://docs.google.com/forms/d/e/1FAIpQLSdHrcCVezsdZIz41tc0G7I5f2xzkOVZ-y_09w0NXHdJnPeq1Q/viewform">
        <img style="width:100%;max-width:1100px;display:block;" class="img-responsivo" data-path="https://static3.br.avon.com/img-banner/campanhas/2019/cp-20/popup/" data-name="cp19-2019-popup-pesquisa-satisfação-clube-das-estrelas.jpg" />
    </a>
</div>

<script>
    $(document).ready(function() {
        var storage_atualizacao = sessionStorage.getItem('popup_segmentacao-estrela');
        if (storage_atualizacao != '') {
            sessionStorage.setItem('popup_segmentacao-estrela', (Number(storage_atualizacao) + 1));
        } else {
            sessionStorage.setItem('popup_segmentacao-estrela', Number(1));
        }
        if (sessionStorage.getItem('popup_segmentacao-estrela') <= 2) {

            if ($(window).width() >= 760) {
                $abrirPopUp = function() {
                    $.fancybox.open({
                        autoCenter: true,
                        scrolling: 'auto',
                        type: 'inline',
                        href: '#segmentacao-estrela',
                        fitToView: true,
                        width: '750px',
                        height: '331px',
                        autoSize: false,
                        closeClick: false,
                        openEffect: 'none',
                        closeEffect: 'none',
                        padding: 0,
                        afterClose: function() {
                            return;
                        }
                    });
                }
            } else {
                $abrirPopUp = function() {
                    $.fancybox.open({
                        autoCenter: true,
                        scrolling: 'auto',
                        type: 'inline',
                        href: '#segmentacao-estrela',
                        fitToView: true,
                        width: '300px',
                        height: '500px',
                        autoSize: false,
                        closeClick: false,
                        openEffect: 'none',
                        closeEffect: 'none',
                        padding: 0,
                        afterClose: function() {
                            return;
                        }
                    });
                }
            }

            $abrirPopUp();
            //Tagueamento - Impressão
            var intervaloPopup = setInterval(function() {
                if (typeof(utag) == 'object') {
                    clearInterval(intervaloPopup);
                    var eventObj = {
                        "tealium_event": "ga_event",
                        "ga_eventCategory": "pop-up-home:segmentacao-estrela",
                        "ga_eventAction": "impressao",
                        "ga_eventLabel": "exibicao",
                    };
                    try {
                        hitObj = Object.assign(eventObj, AvonAnalysticsJS.createUtagData())
                    } catch (e) {
                        hitObj = eventObj
                    };
                    utag.link(hitObj);
                }
            }, 500);
        }

    });
</script>