<style type="text/css">
    body .shopcart-coupon-footer17 {
        display: block !important;
    }
</style>
<div class="warning" style="float:none;">
    <div class="ico ico-exclamation"></div><span class="title-war title-war-exclamation">Atenção:</span>
    <p>
        O código da Oferta Estrela de Kit Encanto da Página 37 do Guia de Negócios foi impresso incorretamente. Para adicioná-lo utilize o código <a style="color:red">(Cód
            781138)</a>
    </p>
</div>

<!--ShopCart_Footer_Spot17 fica abaixo do pedido -->


<!--img style="width: 100%;" src="/wcsstore/AvonStoreSAS/content/fixo/fast-order/BannerStopper_PedidoRapido_GS.jpg" alt="" /-->

<img class="img-responsivo stopper-resgate" data-path="https://static1.br.avon.com/img-banner/fixo/main/img/" data-name="header-pedido-rapido-eva-e-gs.jpg" src="" style="width: 100%;max-width: 1100px;margin-top: 20px;" />

<style>
    body .btnChatBotMovi {
        display: none !important;
    }
    
    @media (max-width: 736px) {
        .hide-onMobile {
            display: block !important;
        }
    }
</style>

<div class="warning" style="float:none;margin-top: 30px;">
    <div class="ico ico-exclamation"></div><span class="title-war title-war-exclamation">Atenção:</span>
    <p>Aqui é onde você faz os Pedidos para as Revendedoras do setor. Garanta que a Revendedora esteja de acordo com os produtos e quantidades que você irá incluir em nome dela.</p>
</div>

<style type="text/css">
    body .shopcart-coupon-footer17 {
        display: block !important;
    }
</style>

<!--OperationalFastOrder_CntntSpot_2_Spot fica no pedido rapido  -->