<!--<style>
.boxAlertData {width: 100%; padding: 1%; display: block; position: relative; z-index: 8; background-color: #FFFFFF; border: 1px solid #FFAE00; float: none; margin-top: 2px; margin-bottom: -10px;}
.boxAlertData p::before {content: url('https://static4.br.avon.com/wcsstore/AvonStoreSAS/content/fixo/main/img/alert-datas.png'); padding: 0 10px 0 0; margin: -2px 0 0 0; float: none; }
</style>
<div class="boxAlertData">
    <p>O site estará em manutenção no dia <b>11/10</b> das <b>19:00 às 19:30</b>.<br /></p>
</div>-->
<div class="warning">
    <div class="ico ico-exclamation"></div><span class="title-war title-war-exclamation">Atenção</span>
    <p>O site estará em manutenção a partir das 12h de sábado (3 de agosto) até as 12h de domingo (4 de agosto).</p>
</div>
<!--<div class="warning">
    <div class="ico ico-exclamation"></div><span class="title-war title-war-exclamation">Atenção</span>
    <p>O site estará em manutenção no dia <b>03/02 (domingo)</b> das <b>00h30 às 02h30.</p>
</div>-->