<style>
    .landing {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .landing-mob {
        display: none;
    }

    #scroll {
        float: left;
        width: 100%;
        max-width: 1100px;
    }

    @media screen and (max-width: 727px) {

        .landing,
        .image-map {
            display: none;
        }

        .landing-mob,
        .image-map2 {
            display: block;
        }
    }
</style>

<div class="landing">
    <img class="img-responsivo"
        data-path="https://static2.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-15/landing/"
        data-name="cp15-incentivo-mythology.jpg" style="float: left; margin-top:-7px; width: 100%;"
        usemap="#image-map" />
    <map name="image-map">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:mithology"
            data-analytics-action="clique" data-analytics-label="botao:comprar"
            href="/home-dstq4" coords="473,2651,706,2705" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:mithology"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=1" coords="109,2741,420,2786" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:mithology"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=18" coords="435,2741,741,2783" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:mithology"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-c-15-e-c-16-mythology-ra.pdf"
            coords="760,2740,1069,2786" shape="rect">
    </map>
</div>
<div id="scroll"></div>

<div class="landing-mob">
    <img class="img-responsivo"
        data-path="https://static2.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-15/landing/"
        data-name="cp15-incentivo-mythology.jpg" style="float: left; margin-top:-7px; width: 100%;"
        usemap="#image-map2" />
    <map name="image-map2">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:mithology"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/home-dstq4" coords="261,4198,464,4246" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:mithology"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=1" coords="205,4266,522,4317" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:mithology"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=18" coords="196,4322,530,4377" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:mithology"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-c-15-e-c-16-mythology-ra.pdf"
            coords="177,4384,554,4435" shape="rect">
    </map>
</div>