<style>
    .landing {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .landing-mob {
        display: none;
    }
    
    #scroll {
        float: left;
        width: 100%;
        max-width: 1100px;
    }
    
    @media screen and (max-width: 727px) {
        .landing,
        .image-map {
            display: none;
        }
        .landing-mob,
        .image-map2 {
            display: block;
        }
    }
</style>

<div class="landing">
    <img class="img-responsivo" data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-20/landing/" data-name="cp20-2019-lp-oportunidades-gs.jpg" style="float: left; margin-top:-7px; width: 100%;" usemap="#image-map" />
    <map name="image-map">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:oportunidade-gs"
            data-analytics-action="clique" data-analytics-label="botao:consultar-regulamento-op-1"
            href="https://www.avoncomigo.avon.com.br/regulamentos/2019-regulamento-alianca-cp17-a-cp02-2020-gs.pdf"
            coords="419,650,674,688" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:oportunidade-gs"
            data-analytics-action="clique" data-analytics-label="botao:consultar-regulamento-op-2"
            href="https://www.avoncomigo.avon.com.br/regulamentos/2019-regulamento-bonus-cp18-a-cp02-2020-gs.pdf"
            coords="420,1078,675,1114" shape="rect">
    </map>
</div>
<div id="scroll"></div>

<div class="landing-mob">
    <img class="img-responsivo" data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-20/landing/" data-name="cp20-2019-lp-oportunidades-gs.jpg" style="float: left; margin-top:-7px; width: 100%;" usemap="#image-map2" />
    <map name="image-map2">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:oportunidade-gs"
            data-analytics-action="clique" data-analytics-label="botao:consultar-regulamento-op-1"
            href="https://www.avoncomigo.avon.com.br/regulamentos/2019-regulamento-alianca-cp17-a-cp02-2020-gs.pdf"
            coords="85,858,645,922" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:oportunidade-gs"
            data-analytics-action="clique" data-analytics-label="botao:consultar-regulamento-op-2"
            href="https://www.avoncomigo.avon.com.br/regulamentos/2019-regulamento-bonus-cp18-a-cp02-2020-gs.pdf"
            coords="86,1382,643,1447" shape="rect">
    </map>
</div>