<style>
    .landing {
        width: 100%;
        margin: 0px auto;
        padding: 0px;
        max-width: 1100px;
    }
    
    .content__incentivos {
        display: flex;
        margin: 0px auto;
        padding: 15px 0px;
        flex-flow: row wrap;
        justify-content: center;
    }
    
    .cards__incentivos {
        justify-content: space-between;
        display: flex;
        height: auto;
        margin: 3px;
        max-width: 100%;
        width: 32%;
    }
    
    .cards__incentivos a {
        width: 100%;
        margin: 0px auto;
        text-align: center;
    }
    
    .cards__incentivos img {
        width: 100%;
        margin: 0px auto;
        text-align: center;
    }
    
    .mmaTurboBannerMeta {
        font-family: 'roboto';
        color: #546264;
        display: block;
        float: right;
        width: 92%;
        text-align: center;
        margin-top: -140px;
        padding: 15px 3.9%;
        font-size: 15px;
        font-weight: bold;
        position: relative;
    }
    
    @media (max-width: 727px) {
        .cards__incentivos {
            flex-flow: column wrap;
            width: 100%;
            margin: 25px 0px;
            max-width: 100%;
        }
        .mmaTurboBannerMeta {
            padding: 0;
            margin: -125px 25px 0 0;
            font-size: 16px;
            line-height: 20px;
            width: 45%;
        }
    }
    
    @media (max-width: 560px) {
        .mmaTurboBannerMeta {
            padding: 0;
            margin: -90px 25px 0 0;
            font-size: 11px;
            line-height: 15px;
            width: 45%;
        }
    }
</style>

<div class="landing">
    <div class="content__incentivos">
        <div class="cards__incentivos">
            <a href="javascript:getURLSEOStoreToken('landing-programa-indicacao');">
                <img class="img-responsivo" data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-20/landing/" data-name="cp20-2019-programa-alianca-bnganhemais.jpg" data-analytics-on="" data-analytics-category="landing-page:landing-programa-alianca"
                    data-analytics-action="clique" data-analytics-label="imagem:alianca">
            </a>
        </div>
        <div class="cards__incentivos">
            <a href="javascript:getURLSEOStoreToken('landing-incentivos-resumo');">
                <img class="img-responsivo" data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-20/landing/" data-name="cp20-2019-bngm-resumo-de-incentivos.jpg" data-analytics-on="" data-analytics-category="landing-page:landing-incentivos-resumo"
                    data-analytics-action="clique" data-analytics-label="imagem:landing-incentivos-resumo">
            </a>
        </div>
        <div class="cards__incentivos">
            <a href="javascript:getURLSEOStoreToken('landing-turbo');">
                <img class="img-responsivo" data-path="https://static2.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-20/landing/" data-name="cp20-2019-bngm-programa-turbo.jpg" data-analytics-on="" data-analytics-category="landing-page:landing-turbo" data-analytics-action="clique"
                    data-analytics-label="imagem:landing-turbo:saiba-mais">
                <div class="mmaTurboBannerMeta">Atinja seu Objetivo de Vendas no valor de <span class="salesGoalAmount"></span> e acumule pontos ilimitados!</div>
            </a>
        </div>
    </div>
</div>

<script>
    $(document).ready(function() {
        //Texto Responsivo
        if ($(window).width() <= 728) {
            $(".mmaTurboBannerMeta").html('Atinja seu Objetivo de Vendas de <span class="salesGoalAmount"></span>');
        }
        setTimeout(function() {
            $(".mmaTurboBannerMeta").show();
        }, 2000);
    });
</script>

<link rel="stylesheet" href="https://www.avoncomigo.avon.com.br/wcsstore/img-banner/fixo/main/mma-turbo-component/mma-turbo.css" type="text/css">
<script src="https://www.avoncomigo.avon.com.br/wcsstore/img-banner/fixo/main/mma-turbo-component/mma-turbo.js"></script>
<script type="text/javascript" src="https://static4.br.avon.com/wcsstore/img-banner/fixo/main/js/jquery.fittext.js"></script>