<style>
    .landing {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }
    
    .landing-mob {
        display: none;
    }
    
    #scroll {
        float: left;
        width: 100%;
        max-width: 1100px;
    }
    
    @media screen and (max-width: 727px) {
        .landing,
        .image-map {
            display: none;
        }
        .landing-mob,
        .image-map2 {
            display: block;
        }
    }
</style>

<div class="landing">
    <img class="img-responsivo" data-path="https://static2.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-20/landing/" data-name="cp20-2019-lp-resumo-de-incentivos.jpg" style="float: left; margin-top:-7px; width: 100%;" usemap="#image-map" />
    <map name="image-map">
            <area target="" data-analytics-on="" data-analytics-category="landing-page:meu-mundo-avon" data-analytics-action="clique"
                data-analytics-label="botao:comprar" href="javascript:getURLSEOStoreToken('landing-programa-alianca');"
                coords="859,396,1002,430" shape="rect">
    
            <area target="" data-analytics-on="" data-analytics-category="landing-page:meu-mundo-avon"
                data-analytics-action="clique" data-analytics-label="botao:saiba-mais:turbo"
                href="javascript:getURLSEOStoreToken('landing-turbo');" coords="859,622,1002,659" shape="rect">
    
            <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:meu-mundo-avon"
                data-analytics-action="clique" data-analytics-label="botao:consultar-meus-pontos"
                href="/vendor/vendor-link-redirect.html?vendorId=1" coords="217,1038,557,1076" shape="rect">
    
            <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:meu-mundo-avon"
                data-analytics-action="clique" data-analytics-label="botao:resgate"
                href="/vendor/vendor-link-redirect.html?vendorId=18" coords="568,1036,899,1076" shape="rect">
        </map>
</div>
<div id="scroll"></div>

<div class="landing-mob">
    <img class="img-responsivo" data-path="https://static2.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-20/landing/" data-name="cp20-2019-lp-resumo-de-incentivos.jpg" style="float: left; margin-top:-7px; width: 100%;" usemap="#image-map2" />
    <map name="image-map2">
            <area target="" data-analytics-on="" data-analytics-category="landing-page:meu-mundo-avon" data-analytics-action="clique"
                data-analytics-label="botao:alianca"
                href="javascript:getURLSEOStoreToken('landing-programa-alianca');"coords="499,528,691,584" shape="rect">
    
            <area target="" data-analytics-on="" data-analytics-category="landing-page:meu-mundo-avon"
                data-analytics-action="clique" data-analytics-label="botao:turbo"
                href="javascript:getURLSEOStoreToken('landing-turbo');" coords="494,845,694,902" shape="rect">
    
            <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:meu-mundo-avon"
                data-analytics-action="clique" data-analytics-label="botao:consultar-meus-pontos"
                href="/vendor/vendor-link-redirect.html?vendorId=1" coords="128,1626,601,1673" shape="rect">
    
            <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:meu-mundo-avon"
                data-analytics-action="clique" data-analytics-label="botao:resgate"
                href="/vendor/vendor-link-redirect.html?vendorId=18" coords="127,1690,599,1738" shape="rect">
        </map>
</div>