    <style>
        .landing {
            width: 100%;
            max-width: 1100px;
            margin: 0 auto;
        }

        .landing-mob {
            display: none;
        }

        #scroll {
            float: left;
            width: 100%;
            max-width: 1100px;
        }

        @media screen and (max-width: 727px) {

            .landing,
            .image-map {
                display: none;
            }

            .landing-mob,
            .image-map2 {
                display: block;
            }
        }
    </style>

    <div class="landing">
        <img class="img-responsivo"
            data-path="https://static1.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-16/landing/"
            data-name="cp16-2019-programa-turbo.jpg" style="float: left; margin-top:-7px; width: 100%;"
            usemap="#image-map" />

        <map name="image-map">
                <area target="_blank" alt="" title="" href="/vendor/vendor-link-redirect.html?vendorId=1"
                coords="108,1322,386,1367" shape="rect" data-analytics-on=""
                data-analytics-category="landing-page:meus-pontos" data-analytics-action="clique"
                data-analytics-label="botao:pontos:saiba-mais">

                <area target="_blank" alt="" title="" href="/vendor/vendor-link-redirect.html?vendorId=18"
                coords="405,1322,692,1366" shape="rect" data-analytics-on=""
                data-analytics-category="landing-page:premios" data-analytics-action="clique"
                data-analytics-label="botao:saiba-mais">
                
            <area target="_blank" alt="" title="" coords="712,1320,992,1364" shape="rect" data-analytics-on=""
                data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
                data-analytics-label="botao:indicacao:consultar-regulamento"
                href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-mma-turbo-maquiagem-revendedores-c-14-a-16-2019.pdf">

        </map>
    </div>

    <div id="scroll"></div>


    <div class="landing-mob">
        <img class="img-responsivo"
            data-path="https://static1.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-16/landing/"
            data-name="cp16-2019-programa-turbo.jpg" style="float: left; margin-top:-7px; width: 100%;"
            usemap="#image-map2" />
        <map name="image-map2">
            <area target="_blank" alt="" title="" href="/vendor/vendor-link-redirect.html?vendorId=1"
            coords="158,1597,569,1652" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:meus-pontos" data-analytics-action="clique"
            data-analytics-label="botao:pontos:saiba-mais">

            <area target="_blank" alt="" title="" href="/vendor/vendor-link-redirect.html?vendorId=18"
            coords="154,1670,573,1724" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:premios" data-analytics-action="clique"
            data-analytics-label="botao:saiba-mais">
            
        <area target="_blank" alt="" title="" coords="157,1744,567,1796" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:resumo:oportunidade" data-analytics-action="clique"
            data-analytics-label="botao:indicacao:consultar-regulamento"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-mma-turbo-maquiagem-revendedores-c-14-a-16-2019.pdf">
        </map>
    </div>