$full__width:100%;
$reset:0px;
$dflex:flex;
$center:center;
$row:row wrap;
$column: column wrap;
.landing {
    width: $full__width;
    margin: $reset auto;
    padding: $reset;
}

.content__incentivos {
    display: $dflex;
    margin: $reset auto;
    padding: 15px $reset;
    flex-flow: $row;
    justify-content: $center;
}

.cards__incentivos {
    justify-content: space-between;
    display: $dflex;
    height: auto;
    margin: 3px;
    min-width: 24%;
    max-width: 100%;
}

.cards__incentivos a {
    width: $full__width;
    margin: $reset auto;
    text-align: $center;
}

.cards__incentivos img {
    width: $full__width;
    margin: $reset auto;
    text-align: $center;
}

@media (max-width: 727px) {
    .cards__incentivos {
        flex-flow: $column;
        width: $full__width;
        margin: 25px $reset;
        max-width: 100%;
    }
}