.landing {
    width: 100%;
    margin: 0px auto;
    padding: 0px;
    max-width: 1100px;
}

.content__incentivos {
    display: flex;
    margin: 0px auto;
    padding: 15px 0px;
    flex-flow: row wrap;
    justify-content: center;
}

.cards__incentivos {
    justify-content: space-between;
    display: flex;
    height: auto;
    margin: 1px;
    width: 24%;
    max-width: 100%;
}

.cards__incentivos a {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

.cards__incentivos img {
    width: 100%;
    margin: 0px auto;
    text-align: center;
}

@media (max-width: 727px) {
    .cards__incentivos {
        flex-flow: column wrap;
        width: 100%;
        margin: 25px 0px;
        max-width: 100%;
    }
}