<style>
    .landing {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .landing-mob {
        display: none;
    }

    #scroll {
        float: left;
        width: 100%;
        max-width: 1100px;
    }

    @media screen and (max-width: 727px) {

        .landing,
        .image-map {
            display: none;
        }

        .landing-mob,
        .image-map2 {
            display: block;
        }
    }
</style>

<div class="landing">
    <img class="img-responsivo"
        data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-14/landing/"
        data-name="cp14-programa-turbo-brasil.jpg" style="float: left; margin-top:-7px; width: 100%;"
        usemap="#image-map" />
    <map name="image-map">
        <area target="_self" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/banner-novo-batom-power-stay" coords="441,2636,744,2676" shape="rect">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=1" coords="112,2740,420,2786" shape="rect">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=18" coords="436,2739,741,2785" shape="rect">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-mma-turbo-maquiagem-revendedores-c-14-a-16-2019.pdf"
            coords="763,2738,1067,2785" shape="rect">
    </map>
</div>
<div id="scroll"></div>

<div class="landing-mob">
    <img class="img-responsivo"
        data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-14/landing/"
        data-name="cp14-programa-turbo-brasil.jpg" style="float: left; margin-top:-7px; width: 100%;"
        usemap="#image-map2" />
    <map name="image-map">
        <area target="_self" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/banner-novo-batom-power-stay" coords="208,4384,520,4442" shape="rect">
        <area target="_self" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/banner-novo-batom-power-stay" coords="208,3190,521,3246" shape="rect">
        <area target="_self" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/banner-novo-batom-power-stay" coords="203,5726,523,5787" shape="rect">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=1" coords="157,5846,573,5912" shape="rect">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=18" coords="155,5921,573,5983" shape="rect">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo"
            data-analytics-action="clique" data-analytics-label="botao:indicacao:consultar-meus-pontos"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-mma-turbo-maquiagem-revendedores-c-14-a-16-2019.pdf"
            coords="151,5996,574,6058" shape="rect">
    </map>
</div>