<style>
    .landing {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .landing-mob {
        display: none;
    }

    #scroll {
        float: left;
        width: 100%;
        max-width: 1100px;
    }

    @media screen and (max-width: 727px) {

        .landing,
        .image-map {
            display: none;
        }

        .landing-mob,
        .image-map2 {
            display: block;
        }
    }
</style>

<div class="landing">
    <img class="img-responsivo"
        data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-15/landing/"
        data-name="cp15-programa-turbo.jpg" style="float: left;width: 100%;" usemap="#image-map" />
    <map name="image-map">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-brasil"
            data-analytics-action="clique" data-analytics-label="botao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=1" coords="114,1276,417,1318" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-brasil"
            data-analytics-action="clique" data-analytics-label="botao:ver-opcoes-de-premios"
            href="/vendor/vendor-link-redirect.html?vendorId=18" coords="438,1276,741,1318" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-brasil"
            data-analytics-action="clique" data-analytics-label="botao:consultar-regulamento"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-mma-turbo-maquiagem-revendedores-c-14-a-16-2019.pdf"
            coords="762,1276,1067,1317"  shape="rect">
    </map>
</div>
<div id="scroll"></div>

<div class="landing-mob">
    <img class="img-responsivo"
        data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-15/landing/"
        data-name="cp15-programa-turbo.jpg" style="float: left;width: 100%;" usemap="#image-map2" />
    <map name="image-map2">
        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-brasil"
            data-analytics-action="clique" data-analytics-label="botao:consultar-meus-pontos-mb"
            href="/vendor/vendor-link-redirect.html?vendorId=1" coords="160,1673,566,1728" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-brasil"
            data-analytics-action="clique" data-analytics-label="botao:ver-opcoes-de-premios-mb"
            href="/vendor/vendor-link-redirect.html?vendorId=18" coords="160,1748,571,1800" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-brasil"
            data-analytics-action="clique" data-analytics-label="botao:consultar-regulamento-mb"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-mma-turbo-maquiagem-revendedores-c-14-a-16-2019.pdf"
            coords="162,1820,569,1875" shape="rect">
    </map>
</div>