<style>
    .landing {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .landing-mob {
        display: none;
    }

    #scroll {
        float: left;
        width: 100%;
        max-width: 1100px;
    }

    @media screen and (max-width: 727px) {

        .landing,
        .image-map {
            display: none;
        }

        .landing-mob,
        .image-map2 {
            display: block;
        }
    }
</style>

<div class="landing">
    <img class="img-responsivo"
        data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-14/landing/"
        data-name="cp14-programa-turbo-ncm.jpg" style="float: left;width: 100%;" usemap="#image-map" />
    <map name="image-map">
        <area target="_self" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:batom-power-stay"
            href="javascript:getURLSEOStoreToken('banner-novo-batom-power-stay');" coords="439,2634,744,2676"
            shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:consultar-meus-pontos"
            href="/vendor/vendor-link-redirect.html?vendorId=1" coords="112,2741,416,2783" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:ver-opcoes-de-premios"
            href="/vendor/vendor-link-redirect.html?vendorId=18" coords="439,2739,740,2785" shape="rect">

        <area target="_self" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:consultar-regulamento"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-mma-turbo-maquiagem-revendedores-c-14-a-16-2019.pdf"
            coords="760,2737,1067,2783"  shape="rect">
    </map>
</div>
<div id="scroll"></div>

<div class="landing-mob">
    <img class="img-responsivo"
        data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-14/landing/"
        data-name="cp14-programa-turbo-ncm.jpg" style="float: left;width: 100%;" usemap="#image-map2" />
    <map name="image-map2">
        <area target="_self" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:comprar"
            href="javascript:getURLSEOStoreToken('banner-novo-batom-power-stay');  " coords="204,3621,525,3680"
            shape="rect">

        <area target="_self" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:comprar2"
            href="javascript:getURLSEOStoreToken('banner-novo-batom-power-stay');  " coords="209,5098,521,5158"
            shape="rect">

        <area target="_self" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:comprar3"
            href="javascript:getURLSEOStoreToken('banner-novo-batom-power-stay');  " coords="206,6685,533,6746"
            shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:consultar-meus-pontos-mb"
            href="/vendor/vendor-link-redirect.html?vendorId=1" coords="159,6815,569,6875" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:ver-opcoes-de-premios-mb"
            href="/vendor/vendor-link-redirect.html?vendorId=18" coords="155,6889,571,6945" shape="rect">

        <area target="_blank" data-analytics-on="" data-analytics-category="landing-page:programa-turbo-ncm"
            data-analytics-action="clique" data-analytics-label="botao:consultar-regulamento-mb"
            href=" https://www.avoncomigo.avon.com.br/regulamentos/regulamento-mma-turbo-maquiagem-revendedores-c-14-a-16-2019.pdf"
            coords="159,6962,571,7021" shape="rect">
    </map>
</div>