<style>
    .landing {
        width: 100%;
        max-width: 1100px;
        margin: 0 auto;
    }

    .landing-mob {
        display: none;
    }

    #scroll {
        float: left;
        width: 100%;
        max-width: 1100px;
    }

    @media screen and (max-width: 727px) {

        .landing,
        .image-map {
            display: none;
        }

        .landing-mob,
        .image-map2 {
            display: block;
        }
    }
</style>

<div class="landing">
    <img class="img-responsivo"
        data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-14/landing/"
        data-name="programa-alianca-eva-ncm.jpg" style="float: left; margin-top:-7px; width: 100%;"
        usemap="#image-map" />
    <map name="image-map">
        <area target="" alt="" title="" href="javascript:getURLSEOStoreToken('landing-programa-indicacao');"
            coords="473,836,623,872" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:meu-mundo-avon:oportunidade" data-analytics-action="clique"
            data-analytics-label="botao:indicacao:saiba-mais-1">
            
        <area target="_blank" alt="" title="" coords="415,3292,685,3337" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:meu-mundo-avon:oportunidade" data-analytics-action="clique"
            data-analytics-label="botao:indicacao:consultar-regulamento"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-eva-pontual-c-14-2019.pdf">

        <area class="btnVideoPopUp fancybox.iframe" target="" alt="" title="" href="https://www.youtube.com/embed/ICX-fpdDc-w?autoplay=1&rel=0"
            coords="40,3990,1056,4488" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:video-programa-alianca" data-analytics-action="clique"
            data-analytics-label="botao:video-programa-alianca">
    </map>
</div>
<div id="scroll"></div>

<div class="landing-mob">
    <img class="img-responsivo"
        data-path="https://static3.br.avon.com/wcsstore/img-banner/campanhas/2019/cp-14/landing/"
        data-name="programa-alianca-eva-ncm.jpg" style="float: left; margin-top:-7px; width: 100%;"
        usemap="#image-map2" />
    <map name="image-map2">
        <area target="_blank" alt="" title="" href="javascript:getURLSEOStoreToken('landing-programa-indicacao');"
            coords="283,650,444,691" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:meu-mundo-avon:oportunidade" data-analytics-action="clique"
            data-analytics-label="botao:indicacao:saiba-mais-1">

        <area target="_blank" alt="" title="" coords="226,3796,503,3839" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:meu-mundo-avon:oportunidade" data-analytics-action="clique"
            data-analytics-label="botao:consultar-regulamento"
            href="https://www.avoncomigo.avon.com.br/regulamentos/regulamento-eva-pontual-c-14-2019.pdf">


        <area class="btnVideoPopUp fancybox.iframe" target="" alt="" title="" href="https://www.youtube.com/embed/ICX-fpdDc-w?autoplay=1&rel=0"
            coords="47,4436,680,4750" shape="rect" data-analytics-on=""
            data-analytics-category="landing-page:video-programa-alianca" data-analytics-action="clique"
            data-analytics-label="botao:video-programa-alianca">
    </map>
</div>
<script>
        $(document).ready(function(){
            $(".btnVideoPopUp").fancybox({
                maxWidth    : 800,
                maxHeight   : 500,
                fitToView   : false,
                width       : '90%',
                height      : '70%',
                autoSize    : false,
                closeClick  : false,
                autoCenter  : true,
                padding     : 0
            }); 
        });
    </script>